/* imported fonts */
@font-face {
    font-family: 'Jungle Rock';
    src: url('../fonts/jfjunroc-webfont.woff2') format('woff2'),
         url('../fonts/jfjunroc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Wild Alpha';
    src: url('../fonts/101_wild_alpha-webfont.woff2') format('woff2'),
         url('../fonts/101_wild_alpha-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Jurassic Park';
    src: url('../fonts/jurassic_park-webfont.woff2') format('woff2'),
         url('../fonts/jurassic_park-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* CSS for the html */

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-size: cover;
}

/* sets the background image */

.bg {
    background-image: url(../images/background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    
}

/* set background for header row */

#header-div {
    background-image: url(../images/div-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15vh;
    border-radius: 20px;
    position: relative;
    top: 10px;
    border-bottom: 20px groove #D9A25F;
    border-top: 2px solid #8C4404;
    border-left: 2px solid #8C4404;
    border-right: 2px solid #8C4404;
    
    
}

/* styling for the header title */
#header-title {
    font-family: 'Jurassic Park',sans-serif;
    color: #5FB1D9;
    font-size: 9vh;
    width: 100%;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 6px;
    background-color:#8C4404;
    border-radius: 20px;
    border-bottom: 10px groove #226A8C;
    padding: 0;
    border-top: 2px solid #226A8C;
    border-left: 2px solid #226A8C;
    border-right: 2px solid #226A8C;
    Line-height: 70px;

}

#subheader-title {
    margin-top: 0;
    font-family: 'Wild Alpha', sans-serif;
    font-size: 1vh;
    color: #5FB1D9;
    width: 100%;
}
/* set background for button-div element */

#button-div {
    background-image: url(../images/div-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5vh;
    border-radius: 20px;
    border-bottom: 20px groove #D9A25F;
    border-top: 2px solid #8C4404;
    border-left: 2px solid #8C4404;
    border-right: 2px solid #8C4404;
}

/* set background for the gif-div element */

#gif-div {
    background-image: url(../images/div-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border-bottom: 20px groove #D9A25F;
    border-top: 2px solid #8C4404;
    border-left: 2px solid #8C4404;
    border-right: 2px solid #8C4404;
}

.card {
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px black solid;
    margin-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* styling for the input bar and submit button */
.form-control {
    background-color: black;
    border-radius: 20px;

}

.form-control:focus {
    color: whitesmoke;
    background-color: black;
}

#input-bar {
    margin-top: 10px;
    margin-bottom: 10px; 
}




#choose-an-animal {
    font-family: "Wild Alpha", sans-serif;
    font-size: 15px;
    color: whitesmoke;
    background-color: black;
    border-bottom: 10px groove #226A8C;
    border-radius: 20px;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    margin-right: 20px;
}

/* styling for the card that will hold the gifs */

#gif-card-header {
    background-color: #8C4404;
    font-family: 'Wild Alpha', sans-serif;
    font-size: 30px;
    color: #5FB1D9;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border: solid black 2px;
    

}

#gif-card-body {
    background-color: black;

}

/* styling for the footer */

#footer-div {
    background-color: transparent;
    text-align: center;
    margin-top: 14vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

/* styling for the dynamically inserted buttons */
.new-button {
    font-family: "Wild Alpha", sans-serif;
    font-size: 15px;
    color: whitesmoke;
    background-color: black;
    border-bottom: 10px groove #226A8C;
    border-radius: 20px;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    margin-right: 20px;
}